<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Componentes</ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let c of componentes |async" 
    [routerLink]="c.redirecTo"
    detail>
    <ion-icon slot="start" [name]="c.icon" color="primary"></ion-icon>
      {{c.name}}
   </ion-item>
   </ion-list>

<!--
  <ion-button routerLink="/alert">
    ir a alerta
  </ion-button>

  <ion-button routerLink="/action-sheet">
    ir a action-sheet
  </ion-button>-->



</ion-content>
