ion-button {
    --background: var(--ion-color-secondary); /* Color secundario de Ionic */
    --color: var(--ion-color-secondary-contrast); /* Contraste del color secundario */
    border-radius: 8px; /* Bordes redondeados */
    font-weight: 500; /* Peso de la fuente */
  }