<app-header titulo="Card"></app-header>

<ion-content [fullscreen]="true">
  <ion-card moode="ios">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more,
      nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img
      src="https://i.pinimg.com/originals/f8/2e/84/f82e84471dfadf51caecdde9c0d9bbb1.jpg"
    />
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more,
      nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, similique!
      Optio, adipisci ullam? Voluptates ullam, ducimus nulla impedit
      perspiciatis deserunt quos fugiat. Quaerat magni expedita nulla quia
      necessitatibus voluptatibus molestias.
    </ion-card-content>
  </ion-card>
</ion-content>
